<p id="notice"><%= notice %></p>

<div class="display-block col-xs-12 col-md-10 col-lg-8 mx-auto border mb-3">
  <h4 class="text-center pt-3">店舗を探す</h4>
  <div class="display-block text-center p-2 bg-light border">
    <img src="/tokyo-img.jpg" class="area-img pr-2 pt-1">
    <img src="/osaka-img.jpg" class="area-img pt-1">
  </div>
  <div class="bg-light pl-3">
    <h5>関東</h5>
      <p>東京 / 神奈川 / 埼玉 / 千葉 / 栃木 / 茨城 / 群馬</p>
    <h5>関西</h5>
      <p>大阪 / 兵庫 / 京都 / 滋賀 / 奈良 / 和歌山</p>
  </div>
</div>

<div class="row col-xs-12 col-md-10 col-lg-8 mx-auto">
  <% @shops.each do |shop| %>
    <div class="col">
      <div class="card mb-3" style="width: 200px;">
      <img class="card-img-top" src="<%= "/#{shop.shop_image}" %>" alt="Card image cap"
            style="width:100%; height:123.6px; object-fit: cover;">
        <div class="card-body px-2" style="height:120px;">
          <h6><%= link_to(shop.name, shop) %></h6>
          <p class="mr-2 font-size-sm">
                      <% if shop.review_rate == nil %>
                        <span><img src="/assets/star-off.png">
                         <img src="/assets/star-off.png">
                         <img src="/assets/star-off.png">
                         <img src="/assets/star-off.png">
                         <img src="/assets/star-off.png"></span>

                      <% elsif shop.review_rate > 0 && shop.review_rate <= 0.75 %>
                        <span><img src="/assets/star-half.png">
                         <img src="/assets/star-off.png">
                         <img src="/assets/star-off.png">
                         <img src="/assets/star-off.png">
                         <img src="/assets/star-off.png"></span>

                      <% elsif shop.review_rate > 0.75 && shop.review_rate <= 1.25 %>
                        <span><img src="/assets/star-on.png">
                         <img src="/assets/star-off.png">
                         <img src="/assets/star-off.png">
                         <img src="/assets/star-off.png">
                         <img src="/assets/star-off.png"></span>

                      <% elsif shop.review_rate > 1.25 && shop.review_rate <= 1.75 %>
                        <span><img src="/assets/star-on.png">
                         <img src="/assets/star-half.png">
                         <img src="/assets/star-off.png">
                         <img src="/assets/star-off.png">
                         <img src="/assets/star-off.png"></span>

                      <% elsif shop.review_rate > 1.75 && shop.review_rate <= 2.25 %>
                        <span><img src="/assets/star-on.png">
                        <img src="/assets/star-on.png">
                        <img src="/assets/star-off.png">
                        <img src="/assets/star-off.png">
                        <img src="/assets/star-off.png"></span>

                      <% elsif shop.review_rate > 2.25 && shop.review_rate <= 2.75 %>
                        <span><img src="/assets/star-on.png">
                        <img src="/assets/star-on.png">
                        <img src="/assets/star-half.png">
                        <img src="/assets/star-off.png">
                        <img src="/assets/star-off.png"></span>

                      <% elsif shop.review_rate > 2.75 && shop.review_rate <= 3.25 %>
                        <span><img src="/assets/star-on.png">
                        <img src="/assets/star-on.png">
                        <img src="/assets/star-on.png">
                        <img src="/assets/star-off.png">
                        <img src="/assets/star-off.png"></span>

                      <% elsif shop.review_rate > 3.25 && shop.review_rate <= 3.75 %>
                        <span><img src="/assets/star-on.png">
                          <img src="/assets/star-on.png">
                          <img src="/assets/star-on.png">
                          <img src="/assets/star-half.png">
                          <img src="/assets/star-off.png"></span>

                      <% elsif shop.review_rate > 3.75 && shop.review_rate <= 4.25 %>
                        <span><img src="/assets/star-on.png">
                        <img src="/assets/star-on.png">
                        <img src="/assets/star-on.png">
                        <img src="/assets/star-on.png">
                        <img src="/assets/star-off.png"></span>

                      <% elsif shop.review_rate > 4.25 && shop.review_rate <= 4.75 %>
                        <span><img src="/assets/star-on.png">
                        <img src="/assets/star-on.png">
                        <img src="/assets/star-on.png">
                        <img src="/assets/star-on.png">
                        <img src="/assets/star-half.png"></span>

                      <% elsif shop.review_rate > 4.75 && shop.review_rate <= 5.00 %>
                        <span><img src="/assets/star-on.png">
                        <img src="/assets/star-on.png">
                        <img src="/assets/star-on.png">
                        <img src="/assets/star-on.png">
                        <img src="/assets/star-on.png"></span>

                      <% end %>
                      <% if shop.review_rate %>
                      (<%= shop.review_rate.round(2) %>)
                      <% else %>
                      (0.00)
                      <% end %> </span></p>
          <p><i class="fas fa-train pr-2"></i><%= shop.station %>駅
            <span class="display-box py-2 pr-3 text-center font-size-lg">
              <% if Favorite.find_by(user_id: @current_user.id, shop_id: shop.id) %>
                <%= link_to("/favorites/#{shop.id}/destroy", method: :delete, remote: true, class: 'text-dark favo') do %>
                <span class="fas fa-bookmark favorited-icon"  id="favorite-button<%= shop.id %>"></span>
                <% end %>
              <% else %>
                <%= link_to("/favorites/#{shop.id}/create", method: :post, remote: true, class: 'text-dark favo') do %>
                <span class="far fa-bookmark favorite-icon" id="favorite-button<%= shop.id %>"></span>
                <% end %>
                <% end %>
            </span>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>



